__mocks__/
__tests__/
.eslintignore
.eslintrc.js
.git/
.github/
.gitignore
.prettierignore
.vscode/
changelog.config.js
coverage/
jest.config.integration.js
jest.config.js
jest.config.unit.js
lint-staged.config.js
Makefile
node_modules/
**/node_modules/
nodemon.json
prettier.config.js
README.md
**/Dockerfile
