doctype html
html
    head
        title Stuntman example - sign up OK
        style
            include style.css
    body
        p
            div#signup_ok Successfuly singed up as
                span#email  #{email}
        p
            a#back(href='/home') Go back